.module {
  width: 100%;
  margin: 0 auto;
}
.module section {
  padding: 40px;
}
.module article {
  max-width: 720px;
  margin-bottom: 40px;
  font-size: 1.6rem;
  line-height: 1.8;
}
.module h2,
.module h3 {
  margin-bottom: 40px;
  font-size: 3.6rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.module .image {
  margin: 16px 0;
}
.module .image img {
  width: 100%;
}
